@model EcosystemApp.Models.VMThreat;

@{
    ViewData["Title"] = "AddThreat";
}

<h3 class="text-dark"><i><b>Nueva Amenaza</b></i></h3>
<h4>@ViewBag.Error</h4>
<br />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddThreat">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ThreatNameVAL" class="control-label">Threat Name</label>
                <input asp-for="ThreatNameVAL" class="form-control" />
                <span asp-validation-for="Threat.ThreatName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="ThreatDescriptionVal" class="control-label"></label>
                <textarea asp-for="ThreatDescriptionVal" class="form-control"></textarea>
                <span asp-validation-for="ThreatDescriptionVal" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Threat.Danger" class="control-label"></label>
                <input asp-for="Threat.Danger" class="form-control" />
                <span asp-validation-for="Threat.Danger" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<h4>@ViewBag.Success</h4>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}