@model EcosystemApp.Models.VMParam

@{
    ViewData["Title"] = "ModifyNameLengths";
}

<h4>Editar rango de caracteres de los nombres</h4>
<hr />
<h4 class="alert-danger">@ViewBag.Error</h4>
@if (TempData["SuccessMessage"] != null)
{
    <h4 class="alert-success">@TempData["SuccessMessage"]</h4>
}
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ModifyNameLengths">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="minLength" class="control-label">Min caracteres</label>
                <input asp-for="minLength" class="form-control" />
                <span asp-validation-for="minLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="maxLength" class="control-label">Máx caracteres</label>
                <input asp-for="maxLength" class="form-control" />
                <span asp-validation-for="maxLength" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
